<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Prices" tabIcon="logo-bitcoin"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Ranges" tabIcon="stats"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Charts" tabIcon="analytics"></ion-tab>
</ion-tabs>
