<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Pricing BTC using different models</h2>
  <ion-list>
    <ion-item *ngFor="let price of prices">
      <h2 style="white-space: pre-line"><b>{{ price.title }} simulation - {{ price.time }}</b></h2>
      <h3>1 BTC = {{ price.simPrice | currency: 'USD' }}</h3>
    </ion-item>
  </ion-list>

</ion-content>
