<ion-header>
  <ion-navbar>
    <ion-title>
      Ranges
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Ranges of BTC prices using different models</h2>
  <ion-list>
    <ion-item *ngFor="let range of ranges">
      <h2 style="white-space: pre-line"><b>{{ range.title }} simulation - {{ range.time }}</b></h2>
      <h3>1 BTC = {{ range.simLow | currency: 'USD' }} — {{ range.simHigh | currency: 'USD' }}</h3>
    </ion-item>
  </ion-list>
</ion-content>
